<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manager
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Contact</a>
        </li>
    </ul>
</div>