@model App.Models.PlanetModel

<div class="card" style="width: 18rem;">
    <img src="~/planet/@(Model.Name).jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name (@Model.VnName)</h5>
        <p class="card-text">@Model.Content</p>
        <a asp-action="Index" class="btn btn-primary">Goto Solar System</a>
    </div>
</div>