.categorysidebar {

    ul {
        li {
            list-style: none;
        }
    }

    a {
        text-decoration: none;

        &.active {
            color: red;
        }
    }

    >ul>li>a {
        font-weight: bold;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.2rem;
        border-bottom: 1px solid blue;
        padding-bottom: 10px;
    }
}