@page "/about-razor.html"
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Intro Razor page</h2>
<p>Razor là một template engine trong .Net, nó là template
    của ASP.NET MVC, có chức năng render html từ các view(cshtml)
    cho phép viết html và nhúng code C#
</p>